.box {
   
    width: 80%;
    
    margin-bottom: 25px;
    display:flex;
}

.projectImage {
    width: 700px;
    height: auto;
}
.caption, .git {
    font-size: 35px;
    padding-left: 20px;
    color: inherit;
}

.title {
    color: white;
    border-left: 1px solid red;
    border-right: 1px solid red;
    text-align: center;
}
