.Home {
    background-image: url(../Assets/john-towner-JgOeRuGD_Y4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.MyAvatar {
    width: 350px;
    border-radius: 50%;
    display: block;
    margin-left: 35%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.myName {
    color: red;
}

.job {
    color: white;
}

.summary {
    color: white;
    background-color: black;
}

.aboutBox {
    background-color: black;
}

.MoreInfo {
    color: white;
    list-style-type: none;
    border-left: 1px solid red;
    border-right: 1px solid red;
}