.contact {
    color: white;
    border-left: 1px solid red;
    border-right: 1px solid red;
    text-align: center;
    padding-top: 30px;
}

.contactBox {
    border: 1px solid red;
    text-align: center;
    
}

.submitButton {
    background-color: red;
    
}

